{{ define "main" }}
<div class="prose">
<h1>{{ .Title }}</h1>
{{ .Content }}
{{ if eq .Section "news" }}
  {{ range .RegularPages }}
  <div class="newsitem">
    <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
    <div class="date">{{ .Date.Format "2006-01-02" }}</div>
    <p>{{ .Summary }}</p>
  </div>
  {{ end }}
{{ else }}
  <div class="doclist">
  {{ range .RegularPages.ByWeight }}
    <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
    <p>{{ .Description }}</p>
  {{ end }}
  </div>
{{ end }}
</div>
{{ end }}
